---
layout: base
---
<div class="blog-cover" style="background-image:url(/blog/images/{{ site.inc.cover_image }});">
    
  
    <section>
        <div class="container">
          <div class='hero-transparency'>
            <h1 class='brandon-text shadowed' style= 'font-size: 3.2em; color: #FFCF48;'>Whiskaroo</h1>
            <h3 style='font-style: italic; font-weight: 400;'>From the good folks at <a href="http://www.tastersclub.com">Taster's Club</a></h3>
            {% if site.inc.facebook %}
            <a class='circle-social' href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            {% if site.inc.twitter %}
            <a class='circle-social'href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            <a class='circle-social pinterest' href="/feed.xml" title="RSS Feed">
                <i class="fa fa-pinterest"></i>
            </a>
          </div>
        </div>
    </section>
  
</div>

<article>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-8'>
            {% for post in paginator.posts %}
              {% unless post.draft %}
                <section class="index">
                     {% if post.author.image %}<img src="/blog/images/{{ post.author.image }}" class="avatar">{% endif %}
                    <div>
                        <h2 class="title"><a href="/blog{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
                        <p>{{ post.excerpt }}</p>
                        <div class="meta">
                            Written By <address>{{ post.author.name }}</address> &mdash;
                            <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        </div>
                    </div>
                    <hr>
                </section>
              {% endunless %}
            {% endfor %}
        </div>
        <div class='col-md-3' style='margin-left: 60px; padding-left:50px; border-left: 1px dashed #333;'>
          <div class='right-sidebar-container'>
            <h4>Email on the Rocks</h4>
            <p>Sign up for giveaways, tasting notes and goodies</p>
            <form action="http://getsimpleform.com/messages?form_api_token=78b32d7eb7b7c9c7239ada158e13d7e1" method='post' action=''>
                <input name='test', type="text">
                <input name='redirect_to', type="hidden", value="http://www.tastersclub.com/blog">
                <br><br>
                <input class="btn btn-success btn-flat" type='submit' value='I want in!'>
            </form>
            <div class='top-posts'>
              <div class='posts'>
                <hr>
                <h4>Recent Posts</h4>
                {% for post in site.posts limit:15 %}
                <div class='sidebar-post-title'>
                  <a href="/blog{{post.url}}" }>
                    {{post.title}}
                  </a>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class='row center'>

        <section class="pagination" style="text-align:center">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="blog/" class="btn btn-outline">‹ Newer</a>
            {% else %}
            <a href="blog/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
            {% endif %}
          {% endif %}
          {% if paginator.next_page %}
            <a href="blog/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
          {% endif %}
        </section>
    </div>
</article>

