<section class="site-nav">
  <header>
      <div class='container-fluid'>
        <nav id="navigation" class='navbar-fixed-top'>
            <a class="brand" href="/">
                <img src="/blog/images/{{ site.inc.logo }}" alt="Inc">
            </a>
            <div class='nav-links'>
              <a href="/" class="home">HOME</a>
              <a href="/our-whiskey" class="home">OUR WHISKEY</a>
              <a href="/whiskey-101" class="home">WHISKEY 101</a>
              <a href="/contact" class="home">CONTACT</a>
              <a href="/" class="home">BLOG</a>
              <a href="/offers" class="home cta">GET STARTED</a>
            </div>
        </nav>
      </div>
  </header>
</section>