{% if site.inc.sharing.twitter or site.inc.sharing.facebook or site.inc.sharing.gplus or site.inc.sharing.hn %}
<div class="social">
    {% if site.inc.sharing.twitter %}<div>
        <a href="https://twitter.com/share" class="twitter-share-button" {% if site.inc.sharing.twitter.via %}data-via="{{ site.inc.sharing.twitter.via }}"{% endif %} data-text="{{ page.title }}" data-related="{{ site.inc.twitter }}">Tweet</a>
    </div>
    {% endif %}

    {% if site.inc.sharing.facebook %}
        <!-- <div id="fb-root"></div> -->
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&pageID=412827398761797";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-share-button" data-href="http://www.tastersclub.com/blog/{{page.url}}" data-height='25' data-type="button_count">
            </div>
    {% endif %}
    {% if site.inc.sharing.gplus %}
    <div>
        <div class="g-plusone" data-size="medium"></div>
    </div>
    {% endif %}
    
    {% if site.inc.sharing.hn %}
    <div>
        <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
    </div>
    {% endif %}
</div>
{% endif %}