a.home.cta {
    border: 3px solid $accent !important;
    padding: 10px;
    border-radius: 4px;
    color: $accent !important;
    &:hover {
        background-color: $accent;
        color: #21272d !important;
    }
}
